@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}
.nav-link {
  position: relative;
  font-size: 0.95rem;
  transition: color 0.3s;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: black;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}
.auth-btn {
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  font-weight: 500;
  transition: all 0.3s;
}

.auth-btn:hover {
  background: black;
  color: white;
  transform: scale(1.02);
}

.auth-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
}

